* {
    font-family: "Times New Roman", Times, serif;
    color: #3a3b3c
}

h1 {
    text-align: center;
    width: auto;    
    padding: 0px;
    margin-bottom: 0px;    
} 

img {  
    max-width: 75%;
    max-height: 300px;
    height: auto;
    width: auto;  
    text-align: center;  
    padding: 15px;  
    background-color: #42cbc6;
    border: 3px solid #3a3b3c;  
}  

#landing {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
  }

li {
    float: right;
}

li{
  display: block;
  color: #3a3b3c;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #42cbc6;
  color: white;
  box-shadow: 0 0 0 1px #3a3b3c;
}

a:link { 
   text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

h4 {
    margin: 0px;
    padding: 0px;
    text-align: center;

}

#rationals, #collections, #schema, #quiz, #primer, #quizler {
    border: solid #3a3b3c 2px;
    width:190px;
    overflow: hidden;
    border-radius:0.5em;
    margin-bottom: 5px;
 }

.Container {
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

button {
    background-color: white;
    display: block;
    color: #3a3b3c;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

button:hover {
    background-color: #42cbc6;
    color: white;
    box-shadow: 0 0 0 1px #3a3b3c;
}

h3 {
    box-shadow: 0 0 0 1px #3a3b3c;
    background-color: #42cbc6;
    text-align: center;
}

#about, #contact {
    text-align: center;
    clear: both;
}

#landing p {
    margin-left: 50px;
    margin-right: 50px;
}

#about p {
    margin-left: 50px;
    margin-right: 50px;
}

.animation {
    animation: swoopin 1s linear forwards;
}
@keyframes swoopin{
    0%{
        transform: translate(200px);
        opacity:0;
    }
    100%{
        transform: translate(0px);
        opacity:1;
    }
}

#resume-download{
    display: block;
    color: #3a3b3c;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
#resume-download:hover {
    background-color: #42cbc6;
    color: white;
    box-shadow: 0 0 0 1px #3a3b3c;
  }